<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginscreenlib">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".LoginApp">
        <activity
            android:name=".presentation.LoginActivity"
            android:exported="true" />
    </application>

</manifest>